<li><a href="https://github.com/Odonno/"><i class="fa fa-github"></i>GitHub</a></li>
<li><a href="https://twitter.com/dbottiau/"><i class="fa fa-twitter"></i>Twitter</a></li>
<li><a target="_blank" href="mailto:david.bottiau@epsi.fr"><i class="fa fa-envelope"></i>Contact</a></li>