/* Auto Type (ClicketyClack) */
@keyframes blink {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0; }
  50% { opacity: 0; }
  60% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

.ClicketyClack__cursor {
  font-weight: 700;
  color: white;
  animation: blink .6s infinite linear;
}

/* App */
.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
}

.header-text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}
.header-text h1, .header-text h3 {
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 25rem hsla(0, 0%, 100%, 0.5);
}

.content {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.content-element {
  width: 600px;
  font-size: 24px;
}
.content-text {
  padding: 20px;
  color: white;
  text-shadow: 0px 2px 16px #DDDDDD;
}

.footer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
}
.footer-link span {
  padding-top: 17px;
}