.acrylic::before {
  background: url(/images/surface-book.jpg) no-repeat center center fixed; 
  filter: blur(10px);
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  z-index: -1;
}
.acrylic {
  position: relative;
  overflow: hidden;
}
.acrylic::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.acrylic-light::after {
  opacity: 0.35;
  border: 1px solid #fff;
  background: #fff;
}
.acrylic-dark::after {
  opacity: 0.5;
  border: 1px solid #000;
  background: #000;
}

.shadow {
  border-radius: 1px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
}